body {

    header {
        background-color: black;
        .header_contaiener {
            max-width: 1440px;
            background-color: black;
            height: 100px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            
            .header_content {
                max-width: 1100px;
                width: 100%;
                background-color: black;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .navigation {
                    max-width: 423px;
                    width: 100%;
                    align-items: center;
                    height: 25px;

                    nav {
                        ul {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            
                            a {
                                color: #FFFFFF;
                                font-family: sans-serif;
                                font-weight: 700;
                                letter-spacing: 2px;
                                line-height: 25px;
                            }
                        }
                    }
                }
            }
        }
        .under_line {
            max-width: 1110px;
            height: 1px;
            width: 100%;
            margin: 0 auto;
            background-color: #979797;
        }
    }
}
// 

.product_section {

    background-color: #0E0E0E;

    .products {
        width: 1110px;
        margin: 0 auto;
        background-color: black;
        height: 400px;
        display: flex;
        height: 633px;
        justify-content: space-between;

        .product_content {
            padding-top: 128px;
            width: 400px;
            display: flex;
            flex-direction: column;

            .new_p {
                color: #989898;
                font-family: sans-serif;
                font-size: 14px;
                line-height: 19px;
                letter-spacing: 10px;
                margin-bottom: 24px;
            }

            .product_name {
                font-family: sans-serif;
                line-height: 58px;
                font-size: 56px;
                letter-spacing: 2px;
                font-weight: 700;
                color: #FFFFFF;
                margin-bottom: 24px;
            }
            
            .product_description {
                color: #999999;
                font-family: sans-serif;
                font-size: 15px;
                line-height: 24px;
                font-weight: 500;
                margin-bottom: 40px;
            }

            .see_product_btn {
                width: 160px;
                height: 48px;
                background-color: #D87D4A;
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                color: #FFFFFF;
                font-family: sans-serif;
                font-weight: 700;
                font-size: 13px;
                line-height: 17px;
                letter-spacing: 1px; 
                }
            }

        }
        
        .product_img {
            height: 633px;
            img {
                height: 100%;
            }
        }
    }

}
