.product_section {
  background-color: $black-color;
  overflow: hidden;

  .products {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    background-color: $black-color;
    height: 400px;
    display: flex;
    height: 633px;
    justify-content: space-between;

    @media (max-width: 1000px) {
      position: relative;
      justify-content: center;
      align-self: center;
      overflow: hidden;
    }

    .product_content {
      padding-top: 128px;
      width: 400px;
      display: flex;
      flex-direction: column;
      @media (max-width: 1000px) {
        position: absolute;
        z-index: 3;
        align-items: center;
        text-align: center;
      }
      @media (max-width: 440px) {
        max-width: 328px;
        text-align: center;
      }

      .new_p {
        color: #989898;
        font-family: sans-serif;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 10px;
        margin-bottom: 24px;
      }

      .product_name {
        font-family: sans-serif;
        line-height: 58px;
        font-size: 56px;
        letter-spacing: 2px;
        font-weight: 700;
        color: $white-color;
        margin-bottom: 24px;
        @media (max-width: 440px) {
          font-size: 36px;
          letter-spacing: 1.29px;
          line-height: 40px;
        }
      }

      .product_description {
        color: #999999;
        font-family: sans-serif;
        font-size: 15px;
        line-height: 24px;
        font-weight: 500;
        margin-bottom: 40px;
      }

      .see_product_btn {
        width: 160px;
        height: 48px;
        background-color: $orange-color;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover {
          background-color: $orange-hover;
        }

        a {
          color: $white-color;
          font-family: sans-serif;
          font-weight: 700;
          font-size: 13px;
          line-height: 17px;
          letter-spacing: 1px;
        }
      }
    }

    .product_img {
      height: 581px;
      @media (max-width: 1000px) {
        position: absolute;
        z-index: 2;
      }
      img {
        @media (max-width: 1000px) {
          object-fit: cover;
        }
      }
    }
  }
}

.categories_container {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 770px) {
    flex-direction: column;
    margin-top: 120px;
    padding: 0 40px;
  }
  .box {
    flex-direction: column;
    flex: 0.3;
    @media (max-width: 770px) {
      margin-top: 0;
      &:not(:first-child) {
        margin-top: 88px;
      }
    }

    .box-container {
      height: 204px;
      background-color: $white-color;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      border-radius: 8px;
      position: relative;
      padding: 30px;

      img {
        position: absolute;
        bottom: 60%;
      }

      .title {
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 1.29px;
        text-align: center;
        font-weight: 700;
        font-family: sans-serif;
        margin-bottom: 15px;
      }
      a {
        text-decoration: none;
        font-weight: 700;
        font-family: sans-serif;
        line-height: 17px;
        letter-spacing: 1px;
        color: #909090;

        &:hover {
          color: $orange-hover;
        }
      }
    }
  }
}

.Ad_section {
  max-width: 1130px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
  margin-top: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  @media (max-width: 1050px) {
    flex-direction: column-reverse;
  }
  .Ad_content {
    max-width: 445px;
    width: 100%;
    .title {
      font-family: sans-serif;
      font-weight: 700;
      line-height: 44px;
      letter-spacing: 1.43px;
      font-size: 40px;
      text-transform: uppercase;
      @media (max-width: 1050px) {
        margin-top: 50px;
      }
    }
    span {
      color: $orange-color;
    }
    .description {
      @media (max-width: 1050px) {
        text-align: center;
      }
      font-size: 15px;
      line-height: 25px;
      font-weight: 700;
      font-family: sans-serif;
      margin-top: 32px;
      opacity: 50%;
    }
    .img_div {
      @media (max-width: 1050px) {
        width: 100%;
        overflow: hidden;
      }
      img {
        object-fit: cover;
      }
    }
  }
}

.swiper_container {
  max-width: 1130px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
  margin-top: 120px;
  .nav {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 53px;
    h3 {
      font-size: 48px;
      font-family: sans-serif;
      line-height: 57px;
      font-weight: 700;
    }
    .swiper_button_con {
      display: flex;
      align-items: center;
      .swiper-button-prev1 {
        margin-right: 14px;
      }
    }
  }
  .swiper-rame {
    display: flex;
    justify-content: space-between;

    .rate-box {
      .star_con {
        margin-bottom: 15px;
      }
      flex: 0.31;

      padding: 28px 32px;
      border: 1px solid #999999;
      border-radius: 20px;
      .star_icon {
        margin-bottom: 15px;
      }
      h6 {
        font-size: 20px;
        font-weight: 700;
        line-height: 22px;
        font-family: sans-serif;
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        img {
          margin-left: 4px;
        }
      }
      p {
        line-height: 22px;
        font-weight: 400px;
        font-family: sans-serif;
      }
    }
  }
}

.count_down {
  margin: 0 auto;
  margin-top: 120px;
  max-width: 1130px;
  padding: 0 10px;
  margin-bottom: 256px;
  h6 {
    font-size: 48px;
    line-height: 65px;
    font-weight: 900;
    font-family: sans-serif;
    margin-bottom: 48px;
    @media (max-width: 600px) {
      text-align: center;
    }
  }
  .timer-div {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: center;
    }
    .box {
      width: 252px;
      height: 200px;
      background-color: $black-color;
      color: $white-color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 22px;
      @media (max-width: 600px) {
        &:not(:first-child) {
          margin-top: 20px; // Adjust the margin value as needed
        }
      }

      p {
        font-family: sans-serif;
        font-weight: 300;
        line-height: 24px;
      }
      .live {
        font-size: 64px;
        line-height: 96px;
        font-family: sans-serif;
        font-weight: 900;
      }
    }
  }
}
