$l-pc: 1420px; // large PC screen size
$pc: 1260px; // PC screen size.
$l-tablet: 1024px; // tablet screen size
$tablet: 1100px; // Tablet screen size.
$phone: 375px; // Phone screen size.
$s-phone: 360px; // Small Screen size.
$tablet-max: $tablet - 1;
$pc-max: $pc - 1;

@mixin responsive($media) {
  @if $media == l_pc {
    @media only screen and (max-width: $l-pc) {
      @content;
    }
  } @else if $media == pc {
    @media only screen and (min-width: $pc) {
      @content;
    }
  } @else if $media == l-tablet {
    @media only screen and (max-width: $l-tablet) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (max-width: $pc-max) {
      @content;
    }
  } @else if $media == phone {
    @media only screen and (max-width: $tablet-max) {
      @content;
    }
  } @else if $media == small_phone {
    @media only screen and (max-width: $phone) {
      @content;
    }
  } @else if $media == smallest_phone {
    @media only screen and (max-width: $s-phone) {
      @content;
    }
  }
}

@mixin flexContainer($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
@mixin containerWidth($width) {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: $width;
  width: 100%;
  margin: 0 auto;
}

@mixin customerBorder($width) {
  width: $width;
  border-radius: 20px;
  border: 1px solid rgb(233, 233, 233);
  align-items: center;
  padding: 30px;
}
@mixin customerBorderInfo($font) {
  font-size: $font;
  font-weight: 400;
  color: rgb(127, 124, 124);
  line-height: 22px;
}
@mixin SizesWeightsLines($font, $weight, $line) {
  font-size: $font;
  font-weight: $weight;
  line-height: $line;
}
@mixin TimerBoxSize {
  width: 252px;
  height: 199px;
  background-color: $secondary-bg-color;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 22px;
}
