$main-bg-color: #ffffff;
$white-color: white;
$black-color: black;

$orange-color: #d87d4a;
$orange-hover: #fbaf85;
$box-shadow: rgba(255, 101, 47, 0.2);

$main-background-color: #ffffff;
$secondary-bg-color: black;
$bestseller-bg-color: #f1f1f1;
$main-hover-color: #d87d4a;
$footer-text-color: gray;
